extends layout

block content
  //div(ng-view)
  div(class='my-fluid-container')
    div(class="row")
      div(class="col-md-12")
        nav(class="hidden-xs navbar navbar-default navbar-fixed-top", role="navigation")
          div(class='col-md-12')
            div(class="navbar-header")
              a(class="navbar-brand", href="#") Briana & Chris
              ul(class="nav navbar-nav navbar-right")
                li
                  a(href="#details") Wedding Details
                li
                  a(href="#rsvp") RSVP
                li
                  a(href="#registry") Registry
                li
                  a(href="#aroundtown") What's Around Town
                li
                  a(href="#story") Our Story
    div(class="row text-center cover background")
      div(class="text-center")
        h1(class="cloudy") Briana & Chris
        h3(class="cloudy") July 23, 2016#[br]Kansas City, MO
        br
  a(name="details")
  div(class="row details background")
  
      h2(class="cloudy") Wedding Details
      p(class="cloudy") On July 23rd, 2016 we will be joining our lives formally in ceremony and celebrating afterwards! The wedding will be held in Kansas City, MO in the Westport District.
      br
      p(class="cloudy") For more details sent right to your inbox, RSVP below with a vaild email address.
      
  a(name="rsvp")
  div(class="row rsvp background")
  
      div(class="cloudy")
        h2(class="") RSVP
        #mount
  
  a(name="registry")
  div(class="row registry background")
  
      h2(class="cloudy") Registry
      p(class="cloudy") We are registered at &thinsp;
        a(href="https://www.amazon.com/registry/wedding/1CK7K7MTJ401C") Amazon.com
        | , &thinsp;
        a(href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542704102&pwsurl=") Bed Bath & Beyond
        | , and &thinsp;
        a(href="http://www.honeyfund.com/wedding/SwiftWilliamsWedding") Honeyfund.com
        | .
  
  a(name="aroundtown")
  div.row.whatsaround.background

      h2(class="cloudy") What's Around KC
      h3.text-center.cloudy Our Favorite Restaurants
        .my-fluid-container.text-center
          .row
            br
            a(href="http://www.jackstackbbq.com/").foodPic.jackStack.col-xs-12.col-sm-6
              h3.visible-xs	 Jack Stack BBQ
              #jackStack.info.hidden-xs.hidden.left.text-center
                h3.textColor Jack Stack BBQ
            a.foodPic.kcJoes.col-xs-12.col-sm-6(href="http://www.joeskc.com/")
              h3.visible-xs	 Kansas City Joe's BBQ
              #kcJoes.info.hidden-xs.hidden.left.text-center
                h3.textColor Kansas City Joe's BBQ
          .row
            a.foodPic.kinLin.col-xs-12.col-sm-6(href="http://kinlinkcmo.com/")
              h3.visible-xs	 Kin Lin
              #kinLin.info.hidden-xs.hidden.left.text-center
                h3.textColor Kin Lin
            a.foodPic.classicCup.col-xs-12.col-sm-6(href="http://www.classiccup.com/")
              h3.visible-xs	 The Classic Cup
              #classicCup.info.hidden-xs.hidden.left.text-center
                h3.textColor The Classic Cup
      h3.text-center.cloudy Fun Places to See
        .my-fluid-container.text-center
          .row
            br
            a.foodPic.nelson.col-xs-12.col-sm-6(href="http://www.nelson-atkins.org/")
              h3.visible-xs	 Nelson-Atkins Museum
              #nelson.info.hidden-xs.hidden.left.text-center
                h3.textColor Nelson-Atkins Museum
                p.textColor (It's free!)
            a.foodPic.plaza.col-xs-12.col-sm-6(href="https://countryclubplaza.com/")
              h3.visible-xs	 Country Club Plaza
              #plaza.info.hidden-xs.hidden.left.text-center
                h3.textColor Country Club Plaza
          .row
            a.foodPic.loose.col-xs-12.col-sm-6(href="http://kcparks.org/park/loose-park/")
              h3.visible-xs	 Loose Park
              #loose.info.hidden-xs.hidden.left.text-center
                h3.textColor Loose Park
            a.foodPic.wwi.col-xs-12.col-sm-6(href="https://theworldwar.org/")
              h3.visible-xs	 World War I Museum
              #wwi.info.hidden-xs.hidden.left.text-center
                h3.textColor World War I Museum
          .row
            a.foodPic.kemper.col-xs-12.col-sm-6(href="https://www.kemperart.org/")
              h3.visible-xs	 Kemper Museum of Modern Art
              #kemper.info.hidden-xs.hidden.left.text-center
                h3.textColor Kemper Museum of Modern Art
            a.foodPic.gardens.col-xs-12.col-sm-6(href="https://www.powellgardens.org/pages/visiting/the-gardens/the-kauffman-memorial-garden")
              h3.visible-xs	 Kauffman Garden
              #gardens.info.hidden-xs.hidden.left.text-center
                h3.textColor Kauffman Garden
  a(name="story")
  div(class='row story background')
      div(class="cloudy")
          h2(class="") Our Story
          p(class="") Briana & Chris met in 2010 while studying together at UMKC and living in the same dorm building. With mutual friends and classes, they spent a lot of time getting to know each other both in and out of class.
          p(class="") As time went on, Briana approached Chris and they started dating in the Spring of 2011.
          p(class="") After many summers and a whole year of Chris's masters studies spent apart, Briana relocated to Illinois to be with Chris. Briana and Chris became engaged when Chris popped the question in a corn field under the 2014 Supermoon in August.
          p(class="") Mutual passions include music, animals, laughing, and dessert.
