body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

.container {
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 95%;
}

.background {
  background-attachment: fixed;
  padding: 15% 10% 20% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*margin: 5em, 0, 0, 5em;*/
}

h1 {
  font-size: 5em;
}

.img-center {
  margin: 0 auto;
  width: 90%;
  border: 1px solid white;
}

.cover {
  background-image: url("http://7-themes.com/data_images/out/64/6989570-dog-costume-funny-photo.jpg");
  height: 45em;
  color: rgba(55, 55, 55, 0.8);
}

.cloudy {
  background-color: rgba(110, 90, 100, 0.5);
  color: white;
  padding: 1em;
  border-radius: 10px;
}

.details {
  color: black;
  background-image: url("http://i.huffpost.com/gen/827508/images/o-FUNNY-PET-COSTUMES-facebook.jpg");
}

.rsvp {
  background-image: url("http://www.laughspark.info/uploadfiles/a-funny-banana-costume-for-dog-6648.jpg");
}

.feature {
  padding: 12px;
}

.registry {
  background-image: url("http://2.bp.blogspot.com/-GMJhcDXWpbs/UI7OiCaVkZI/AAAAAAAAZxM/7hah3Pc0oCc/s1600/funny-pet-costumes-010.jpg")
}

.greyread {
  background-color: rgba(100, 100, 100, 0.8);
}

.story {
  background-image: url("http://i.ytimg.com/vi/_gAjlEY5e0c/maxresdefault.jpg");
}

